.uk-padding-small {
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.title-banner {
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.magnifying-glass {
    margin-top: 35px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;
    color: black;
    margin-left: 25px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: stretch;
}
.magnifying-glass:hover {
    color: red;
}

.p1 {
    margin-left: 215px;
    font-family: none;
    font-size: 50px;
}

.user {
    display: flex;
    margin-top: 35px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;
    color: black;
    right: 75px;
    flex-wrap: wrap;
    align-items: stretch;
}

.user:hover {
    color: red;
}

.cart-shopping {
    display: flex;
    margin-top: 35px;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    font-size: x-large;
    color: black;
    right: 40px;
    flex-wrap: wrap;
    align-items: stretch;
}
.fa-cart-shopping:hover {
    color: red;
}

.select-country {
    
    margin-right: 30px;
    margin-top: 38px;
}

.title-catorce-doce {
    
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.Imagenes-banner-1412-jpg {
    margin-top: 0px;
    width: 100%;
    height: 80%;
    display: block;
}

.top-banner {
    position: relative;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.fa-truck-fast {
    padding-right: 10px;
    color:white;
    font-size: x-large;
}


img {
        scroll-timeline: reveal both;
        animation: reveal both;
        animation-timeline: view ();
        animation-range: entry 20% cover 30%;
    }

.container-imagenes {
    transition: transform 0.5s ease-in-out;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.container-imagenes:hover {
    transform: scale(1.1);
    
}

.container-secciones {
    text-decoration: none;
    background-color: black;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-evenly;

}

.secciones-nolink {
    width: 100%;
    text-align: center;
    text-decoration: none;
    
    font-size: x-large;
    color:white;
   

}

.section-container {
    margin-top: 2px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
}

li {
    font-size: medium;
    justify-content: right;
}

.payment-data-icon {
    margin-right: 10px;
}

h1 {
    color: white;
    text-align: center;
    background-color: red;
    font-family: sans-serif;
    font-size: medium;


}

.imagenes {

    padding: 15px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 265px;
    height: 345px;

}

nav {
    font-size: x-large;
    text-overflow: ellipsis;
}

.video-style {
    padding-left: 0px;
    justify-content: center;

}

video {
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.promotion-type {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
    align-items: center;
}


.card-type {
    padding-left: 150px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
}

.chash-type {
    padding-left: 150px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
}

.payment-type {
    padding-left: 150px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
}

.payments-method {
    transition: transform 0.5s ease-in-out;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}
.payments-method :hover {
    transform: scale(1.1);
}



.payment-data-section {
    color: red ;
    font-weight: bold;
    font-style: oblique;
}

.fa-truck-arrow-right {
    font-size: 80px;
}
.fa-truck-arrow-right:hover {
    color: rgb(164, 17, 17);
}

.fa-credit-card {
    font-size: 80px;
}
.fa-credit-card:hover {
    color: goldenrod;
}

.fa-dolly {
    font-size: 80px;
}
.fa-dolly:hover {
    color:rgb(164, 17, 17);
}

.h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
   
}

.icons-shipping {
    padding: 17px;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.free-shipping {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.payments-types {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;

}

.fast-shipping {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.banner-free-shipping {
    margin-left: 94px;
    width: 1080px;
}

.logo-1412 {
    transition: transform 0.5s ease-in-out;
    margin-top: 40px;
}
.logo-1412:hover {
    transform: scale(1.1);
}

.page-dowm {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.social-media {
    
    margin-left: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.more-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: x-large;
}

.instagram {
    transition: transform 0.4s ease-in-out;
    margin-top: 30px;
    margin-right: 40px;
    font-size: xxx-large;
    color: rgb(222, 18, 130);
}
.instagram:hover {
    transform: scale(1.2);
}

.facebook {
    transition: transform 0.4s ease-in-out;
    margin-top: 30px;
    margin-right: 40px;
    font-size: xxx-large;
    color: blue;
}
.facebook:hover {
    transform: scale(1.2);
}

.whatsapp {
    transition: transform 0.4s ease-in-out;
    margin-top: 30px;
    margin-right: 40px;
    font-size:xxx-large;
    color: rgb(0, 255, 30);
}
.whatsapp:hover {
    transform: scale(1.2);
}

.suggestions-or-comments {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px;
}


/* {
margin: 10px; margin establece el margen para los cuatro lados

padding:0%; padding establece el espacio de relleno

background-color: rgb(247, 250, 249); cambia el color de relleno

font-family: 0; cambia el tipo de letra
} */